extends ./../layout
block content
  div.container
    h1= title
    form(action="/admin/resourse/add/", method="post")
      if resourse
        input(type="hidden", id="ResourseId", name="ResourseId", value=resourse.ResourseId)
      div.row
        div.col-md-6
          div.form-group
            label(for="Name") Назва
            input(type="text", id="Name", name="Name", value=resourse ? resourse.Name : '').form-control
          div.form-group
            label(for="Name") Короткий опис
            textarea(rows="2", id="Description", name="Description").form-control
              if resourse
                | #{resourse.Description}
          div.form-group
            label(for="Name", id="PhotoUrl") Фото (URL)
            input(type="text", name="PhotoUrl", value=resourse ? resourse.PhotoUrl : '').form-control
        div.col-md-6
          div.form-group
            label(for="RegionId") Область
            select(id="RegionId", name="RegionId").form-control.selectpicker
              each region in regions
                if resourse && region.RegionId == resourse.RegionId
                  option(value=region.RegionId, selected)= region.Name
                else
                  option(value=region.RegionId)= region.Name
          div.form-group
            label(for="TypeOfTourismIds") Вид туризму
            select(id="TypeOfTourismIds", name="TypeOfTourismIds", multiple).form-control.selectpicker
              option Не вибрано
              optgroup
              each typeOfTourism in typesOfTourism
                if resourse && resourse.TypeOfTourismIds && resourse.TypeOfTourismIds.indexOf(typeOfTourism.TypeOfTourismId) >= 0
                  option(value=typeOfTourism.TypeOfTourismId, selected)= typeOfTourism.Name
                else
                  option(value=typeOfTourism.TypeOfTourismId)= typeOfTourism.Name
          div.form-group
            label(for="TypeOfResourseIds") Вид ресурсу
            select(id="TypeOfResourseIds", name="TypeOfResourseIds", multiple).form-control.selectpicker
              option Не вибрано
              each groupOfResourse in groupsOfResourse
                optgroup(label = groupOfResourse.Name)
                  each typeOfResourse in groupOfResourse.types
                    if resourse && resourse.TypeOfResourseIds && resourse.TypeOfResourseIds.indexOf(typeOfResourse.TypeOfResourseId) >= 0
                      option(value=typeOfResourse.TypeOfResourseId, selected)= typeOfResourse.Name
                    else
                      option(value=typeOfResourse.TypeOfResourseId)= typeOfResourse.Name
      div.form-group
        label(for="Content") Інформація
        textarea(id="Content", name="Content",rows="20")
      div.form-inline
        div.form-group
          a(href="/admin/resourse").btn.btn-default Відмінити
        div.form-group
          input(type="submit", value="Зберегти").btn.btn-primary
block scripts
  script(src='/js/ckeditor/ckeditor.js', type='text/javascript')
  script.
    $(document).ready(function() {
      $('.selectpicker').selectpicker({title: 'Не вибрано'});
    });
    CKEDITOR.replace( 'Content' );