extends ./../layout
block content
  div.container
    h1 Новий ресурс
    form(action="/admin/resourse/", method="post")
      div.row
        div.col-md-6
          div.form-group
            label(for="Name") Назва
            input(type="text", id="Name", name="Name").form-control
          div.form-group
            label(for="Name") Короткий опис
            textarea(rows="2", id="Description", name="Description").form-control
          div.form-group
            label(for="Name", id="PhotoUrl") Фото (URL)
            input(type="text", name="PhotoUrl").form-control
        div.col-md-6
          div.form-group
            label(for="RegionId") Область
            select(id="RegionId", name="RegionId").form-control.selectpicker
              each region in regions
                if region.RegionId == selectedRegion
                  option(value=region.RegionId, selected)= region.Name
                else
                  option(value=region.RegionId)= region.Name
          div.form-group
            label(for="TypeOfTourismId") Вид туризму
            select(id="TypeOfTourismId", name="TypeOfTourismId", multiple).form-control.selectpicker
              option Не вибрано
              optgroup
              each typeOfTourism in typesOfTourism
                if typeOfTourism.TypeOfTourismId == selectedTypeOfToursim
                  option(value=typeOfTourism.TypeOfTourismId, selected)= typeOfTourism.Name
                else
                  option(value=typeOfTourism.TypeOfTourismId)= typeOfTourism.Name
          div.form-group
            label(for="TypeOfResourseId") Вид ресурсу
            select(id="TypeOfResourseId", name="TypeOfResourseId", multiple).form-control.selectpicker
              option Не вибрано
              each groupOfResourse in groupsOfResourse
                optgroup(label = groupOfResourse.Name)
                  each typeOfResourse in groupOfResourse.types
                    option(value=typeOfResourse.TypeOfResourseId)= typeOfResourse.Name
      div.form-group
        label(for="Content") Інформація
        textarea(id="Content", name="Content",rows="20")
      div.form-inline
        div.form-group
          button(type="button").btn.btn-default Відмінити
        div.form-group
          input(type="submit", value="Зберегти").btn.btn-primary
block scripts
  script(src='/js/ckeditor/ckeditor.js', type='text/javascript')
  script.
    $(document).ready(function() {
      $('.selectpicker').selectpicker({title: 'Не вибрано'});
    });
    CKEDITOR.replace( 'Content' );