extends ./../layout

block content
  div.container
    div.toolbar
      a(href="/admin/resourse/add").btn.btn-primary Додати
    table.table
      tr
        th ID
        th Назва
        th Опис
        th Дата створення
        th Дії
      each resourse in resourses
        tr
          td= resourse.ResourseId
          td= resourse.Name
          td= resourse.Description
          td= moment(resourse.CreatedOn).format("LLL")
          td
            a(href="/admin/resourse/edit/" + resourse.ResourseId) Змінити
            |  | 
            a(href="/admin/resourse/delete/" + resourse.ResourseId).delete-btn Видалити
    nav
      ul.pagination
        li(class=page == 0 ? 'disabled' : '')
          a(href="/admin/resourse?page=" + (page - 1) aria-label="Previous")
            span(aria-hidden="true") &laquo;
        - for(var i=0; i<Math.min(pagesCount, 10); i++)
          li(class=page==i ? 'active' : '')
            a(href="/admin/resourse?page=" + i)= i+1
        li(class=page == pagesCount - 1 ? 'disabled' : '')
          a(href="/admin/resourse?page=" + (page + 1) aria-label="Next")
            span(aria-hidden="true") &raquo;
block scripts
  sctipt.
    <script>
      $(document).ready(function() {
        $('.delete-btn').click(function(e) {
          e.preventDefault();
          if(confirm("Ви справді бажаєте видалити цей ресурс?")) {
            $.post($(this).attr('href'), function(data) {
              location.reload();
            });
          }
          return false;
        });
      });
    </script>