extends layout

block content
  div#myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li(data-target='#myCarousel', data-slide-to='0').active
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    div.carousel-inner
      div.item.active
        img(src='/images/Going_Up_To_Olesko_Castle.jpg').img-responsive
        div.container
          div.carousel-caption
            h1= 'Олеський замок'
            p Оле́ський за́мок — пам'ятка архітектури та історії XIII–XVIII століть, розташований у смт Олесько, Буського району Львівської області. Один із найдавніших в Україні замків, імовірно, побудований одним із синів галицько-волинського князя Юрія Львовича на плато пагорба, який височить серед заплави р. Ліберція.\
            p
              a.btn.btn-lg.btn-primary(href='#') Переглянути
  div.container
    div.toolbar
      form(action='/' method='get' id="filterFrm").form-inline
        div.form-group
          label(for="regionInput") Область
        div.form-group
          select(id="regionInput" name="regionInput").form-control.selectpicker
            if selectedRegion
              option Всі області
            else
              option(value="" selected) Всі області
            optgroup
            each region in regions
              if region.RegionId == selectedRegion
                option(value=region.RegionId, selected)= region.Name
              else
                option(value=region.RegionId)= region.Name
        div.form-group
          label(for="typeOfTourismInput") Вид туризму
        div.form-group
          select(id="typeOfTourismInput" name="typeOfTourismInput" multiple).form-control.selectpicker
            if selectedTypesOfTourism.length
              option(value="") Всі види
            else
              option(value="" selected) Всі види
            optgroup
            each typeOfTourism in typesOfTourism
              if selectedTypesOfTourism.indexOf(typeOfTourism.TypeOfTourismId) >= 0
                option(value=typeOfTourism.TypeOfTourismId, selected)= typeOfTourism.Name
              else
                option(value=typeOfTourism.TypeOfTourismId)= typeOfTourism.Name
        div.form-group
          label(for="typeOfResourseInput") Вид ресурсу
        div.form-group
          select(id="typeOfResourseInput" name="typeOfResourseInput" multiple).form-control.selectpicker
            if selectedTypesOfResourse.length
              option(value="") Всі види
            else
              option(value="" selected) Всі види
            each groupOfResourse in groupsOfResourse
              optgroup(label = groupOfResourse.Name)
                each typeOfResourse in groupOfResourse.types
                  if selectedTypesOfResourse.indexOf(typeOfResourse.TypeOfResourseId) >= 0
                    option(value=typeOfResourse.TypeOfResourseId selected)= typeOfResourse.Name
                  else
                    option(value=typeOfResourse.TypeOfResourseId)= typeOfResourse.Name
        div.form-group
          button(type="submit").btn.btn-primary Показати
    div.row
      each resourse in resourses.resourses
        div.col-sm-4.col-md-3
          div.thumbnail
            img(src= resourse.PhotoUrl ? resourse.PhotoUrl : "http://placehold.it/242X200")
            div.caption
              h3= resourse.Name
              p= resourse.Description
              p
                a.btn.btn-primary(role="button") Переглянути
block scripts
  script(src='/js/bootstrap-select/bootstrap-select-all.js')
  script.
    $(document).ready(function() {
      $('.selectpicker').selectpicker();
      $('#typeOfTourismInput').selectAll();
      $('#typeOfResourseInput').selectAll();

      $('#filterFrm').submit(function(e) {
        e.preventDefault();
        var regionId = $('#regionInput').val();
        var typeOfTourismIds = $('#typeOfTourismInput').val();
        var typeOfResourseIds = $('#typeOfResourseInput').val();
        var parameters = [];
        if (regionId != '')
        {
          parameters.push('rid=' + regionId);
        }
        if (typeOfTourismIds[0] != '') {
          parameters.push('ttid=' + typeOfTourismIds.join());
        }
        if (typeOfResourseIds[0] != '') {
          parameters.push('trid=' + typeOfResourseIds.join());
        }
        var queryString = '';
        if (parameters.length) {
          queryString += '?' + parameters.join('&');
        }
        window.location.href = '/' + queryString;
        return false;
      });
    });