extends layout

block content
  div.logo-wrapper
    h1= 'Туристичні ресурси України'

  div#myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li(data-target='#myCarousel', data-slide-to='0').active
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    div.carousel-inner
      div.item.active
        img(src='/images/Going_Up_To_Olesko_Castle.jpg').img-responsive
        div.container
          div.carousel-caption
            h1= 'Олеський замок'
            p Оле́ський за́мок — пам'ятка архітектури та історії XIII–XVIII століть, розташований у смт Олесько, Буського району Львівської області. Один із найдавніших в Україні замків, імовірно, побудований одним із синів галицько-волинського князя Юрія Львовича на плато пагорба, який височить серед заплави р. Ліберція.\
            p
              a.btn.btn-lg.btn-primary(href='#') Переглянути
  div.container
    div.nav-form
      form.form-inline
        div.form-group
          label(for="regionInput") Область
        div.form-group
          select(id="regionInput").form-control.selectpicker
            if selectedRegion
              option Всі області
            else
              option(selected) Всі області
            optgroup
            each region in regions
              if region.RegionId == selectedRegion
                option(value=region.RegionId, selected)= region.Name
              else
                option(value=region.RegionId)= region.Name
        div.form-group
          label(for="typeOfTourismInput") Вид туризму
        div.form-group
          select(id="typeOfTourismInput").form-control.selectpicker
            if selectedTypeOfToursim
              option Всі види
            else
              option(selected) Всі види
            optgroup
            each typeOfTourism in typesOfTourism
              if typeOfTourism.TypeOfTourismId == selectedTypeOfToursim
                option(value=typeOfTourism.TypeOfTourismId, selected)= typeOfTourism.Name
              else
                option(value=typeOfTourism.TypeOfTourismId)= typeOfTourism.Name
        div.form-group
          label(for="typeOfResourseInput") Вид ресурсу
        div.form-group
          select(id="typeOfResourseInput").form-control.selectpicker
            if selectedTypeOfResourse
              option Всі види
            else
              option(selected) Всі види
            each groupOfResourse in groupsOfResourse
              optgroup(label = groupOfResourse.Name)
                each typeOfResourse in groupOfResourse.types
                  option(valuse=typeOfResourse.TypeOfResourseId)= typeOfResourse.Name
        div.form-group
          a.btn.btn-primary Показати
    div.col-md-3
      h4 Вид туризму
      ul.nav.nav-pills.nav-stacked
        li.active
          a(href="#") Всі види
        - for (var i = 0; i < typesOfTourism.length; i++) {
            li
              a(href="#")= typesOfTourism[i].Name
        - }
      h4 Область
      ul.nav.nav-pills.nav-stacked
        if region
          li
            a(href="/") Вся Україна
        else
          li.active
            a(href="/") Вся Україна
        - for (var i = 0; i < regions.length; i++) {
            if region == regions[i].RegionId
              li.active
                a(href="?region=" + regions[i].RegionId).active= regions[i].Name
            else
              li
                a(href="?region=" + regions[i].RegionId)= regions[i].Name
        - }
    div.col-md-9
      - for (var i = 0; i < groupsOfResourse.length; i++) {
          div.panel.panel-default
            div.panel-heading
              h3.panel-title= groupsOfResourse[i].Name
            div.panel-body
              - for (var j = 0; j < groupsOfResourse[i].types.length; j++) {
                - if (j % 3 == 0) {
                  div.row
                - }
                    div.col-sm-6.col-md-4
                      div.thumbnail
                        img(src="http://placehold.it/242X200")
                        div.caption
                          h3= groupsOfResourse[i].types[j].Name
                          a.btn.btn-primary(role="button") Переглянути
              - }
      - }