extends layout

block content
  div#myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li(data-target='#myCarousel', data-slide-to='0').active
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    div.carousel-inner
      div.item.active
        img(src='/images/Going_Up_To_Olesko_Castle.jpg').img-responsive
        div.container
          div.carousel-caption
            h1= 'Олеський замок'
            p Оле́ський за́мок — пам'ятка архітектури та історії XIII–XVIII століть, розташований у смт Олесько, Буського району Львівської області. Один із найдавніших в Україні замків, імовірно, побудований одним із синів галицько-волинського князя Юрія Львовича на плато пагорба, який височить серед заплави р. Ліберція.\
            p
              a.btn.btn-lg.btn-primary(href='#') Переглянути
  div.container
    div.toolbar
      form(action='/' method='get').form-inline
        div.form-group
          label(for="regionInput") Область
        div.form-group
          select(id="regionInput" name="regionInput").form-control.selectpicker
            if selectedRegion
              option Всі області
            else
              option(selected) Всі області
            optgroup
            each region in regions
              if region.RegionId == selectedRegion
                option(value=region.RegionId, selected)= region.Name
              else
                option(value=region.RegionId)= region.Name
        div.form-group
          label(for="typeOfTourismInput") Вид туризму
        div.form-group
          select(id="typeOfTourismInput" name="typeOfTourismInput" multiple).form-control.selectpicker
            if selectedTypeOfToursim
              option Всі види
            else
              option(value="" selected) Всі види
            optgroup
            each typeOfTourism in typesOfTourism
              if typeOfTourism.TypeOfTourismId == selectedTypeOfToursim
                option(value=typeOfTourism.TypeOfTourismId, selected)= typeOfTourism.Name
              else
                option(value=typeOfTourism.TypeOfTourismId)= typeOfTourism.Name
        div.form-group
          label(for="typeOfResourseInput") Вид ресурсу
        div.form-group
          select(id="typeOfResourseInput" name="typeOfResourseInput" multiple).form-control.selectpicker
            if selectedTypeOfResourse
              option(value="") Всі види
            else
              option(value="" selected) Всі види
            each groupOfResourse in groupsOfResourse
              optgroup(label = groupOfResourse.Name)
                each typeOfResourse in groupOfResourse.types
                  option(valuse=typeOfResourse.TypeOfResourseId)= typeOfResourse.Name
        div.form-group
          button(type="submit").btn.btn-primary Показати
    div.row
      each resourse in resourses.resourses
        div.col-sm-4.col-md-3
          div.thumbnail
            img(src= resourse.PhotoUrl ? resourse.PhotoUrl : "http://placehold.it/242X200")
            div.caption
              h3= resourse.Name
              p= resourse.Description
              p
                a.btn.btn-primary(role="button") Переглянути
block scripts
  script(src='/js/bootstrap-select/bootstrap-select-all.js')
  script.
    $(document).ready(function() {
      $('.selectpicker').selectpicker();
      $('#typeOfTourismInput').selectAll();
      $('#typeOfResourseInput').selectAll();
    });